footer{background-color: #344;min-height: 80px;margin: 0;}
h3{color: #fff;text-align: center;}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
    padding: 3px;
    margin-left: 20px;
    display: block;
}
li a{
    color: #fff;
}
p{
    color: #fff;
}