<app-navbar></app-navbar>
<div id="banner" class="container-fluid">
</div>
<div class="container-fluid">
    <h1>Welcome To Blog It</h1>
    <p class="header-text">Have your say today</p>
  <div class="row">
    <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">
      <h2>Lorem ipsum dolor sit.</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, suscipit! Soluta, odit! Fugiat delectus consequatur nihil cupiditate sit impedit repellat maiores hic 
        alias praesentium, possimus omnis similique eveniet ad esse!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quidem placeat. Reprehenderit beatae,
           odio, natus iste, placeat amet mollitia expedita laudantium veniam aliquam reiciendis doloribus obcaecati perferendis accusantium! Facere vel mollitia distinctio laboriosam nihil. Minus ex sit harum officia dolore?</p>
    </div>
    <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
        <h2>Lorem ipsum dolor sit.</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
       Neque sunt repellendus facere ab fugiat incidunt necessitatibus quam odio, tenetur quos, labore alias ad temporibus tempore doloremque delectus minima in repudiandae!

    </p></div>
</div>
</div>
<div class="container-fluid">
<h2>Feature Blogs</h2>
<div class="row">
  <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
      <h6>More Glitter Less Guns</h6>
      <a routerLink="/posts"><img class="img-fluid" src="assets/image/feature-2.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
      <h6>Man On The Moon</h6>
      <a routerLink="/posts"><img class="img-fluid" src="assets/image/feature-4.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h6>Bright Lights</h6>
      <a routerLink="/posts"><img class="img-fluid" src="assets/image/feature-3.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
      <h6>Which Is The Best</h6>
      <a routerLink="/posts"><img class="img-fluid" src="assets/image/feature.jpg" alt=""></a>
  </div>
</div>
</div>
<app-navfoot></app-navfoot>
